// For more information see: http://www.smashingmagazine.com/2014/06/sassy-z-index-management-for-complex-layouts/
$z-order: element-eins, element-zwei;

.element-eins {
   z-index: index($z-order, element-eins);
}

.element-zwei {
   z-index: index($z-order, element-zwei);
}