<!doctype html>

<html lang="de">
    <head>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>***</title>
        <meta name="description" content="">

        <link rel="stylesheet" href="../build/css/main.min.css" type="text/css">
        <!-- <script src="../build/js/head.min.js" type="text/javascript"></script> -->

        <!-- Favicon -->

        <!-- Social Sharing  -->
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="og:description" content="DESCRIPTION">
        <meta property="og:title" content="PAGETITLE">
        <meta property="og:url" content="https://example.de">
        <meta property="og:image" content="https://example.de/build/img/og-image.jpg">

    </head>
    <body class="{% block bodyclass %}{% endblock %}">


        {% block header %}
            {% include 'partials/header.html' %}
        {% endblock %}

        {% block main %}

            <h1>Templates</h1>
            <ul class="templates">
                <li><a href="./?p=10">Elements</a></li>
                <li><a href="./?p=100">Fehlerseite</a></li>
            </ul>

        {% endblock %}

        {% block footer %}
            {% include 'partials/footer.html' %}
        {% endblock %}

        <noscript>
            <div class="noscript-msg">
                Bitte aktivieren Sie JavaScript in Ihrem Browser. Ohne JavaScript steht Ihnen nicht die volle Funktionalität dieser Website zur Verfügung.<br>
                Wie Sie JavaScript in Ihrem Browser aktivieren erfahren Sie hier: <a href="http://www.enable-javascript.com/de/" target="_blank" rel="nofollow">www.enable-javascript.com/de/</a>
            </div>
        </noscript>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../build/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>$.fn.modal || document.write('<script src="../build/js/vendor/bootstrap.min.js"><\/script>')</script>

        <script async src="../build/js/main.min.js"></script>

    </body>
</html>