{% extends "layout/master.html" %}

{% block bodyclass %}elements{% endblock %}

{% block main %}

    <h1>Lorem ipsum dolor sit amet, consetetur sadipscing</h1>

    <h2>Lorem ipsum dolor sit amet, consetetur sadipscing</h2>

    <h3>Lorem ipsum dolor sit amet, consetetur sadipscing</h3>

    <h4>Lorem ipsum dolor sit amet, consetetur sadipscing</h4>

    <h5>Lorem ipsum dolor sit amet, consetetur sadipscing</h5>

    <h6>Lorem ipsum dolor sit amet, consetetur sadipscing</h6>

    <date datetime="2014-12-12">12. Dezember, 2014</date>

    <blockquote>

        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
            justo duo dolores et ea rebum.

            <cite>Max Mustermann</cite>
        </p>

    </blockquote>

    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
    justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
    takimata sanctus est Lorem ipsum dolor sit amet.</p>

    <img src="http://via.placeholder.com/350x150" alt="Dummy image">

    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
    justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
    takimata sanctus est Lorem ipsum dolor sit amet.</p>

    <ul>
        <li>Lorem ipsum dolor sit amet, consetetur sadipscing</li>
        <li>Lorem ipsum dolor sit amet, consetetur sadipscing</li>
        <li>Lorem ipsum dolor sit amet, consetetur sadipscing</li>
        <li>Lorem ipsum dolor sit amet, consetetur sadipscing</li>
        <li>Lorem ipsum dolor sit amet, consetetur sadipscing</li>
    </ul>

    <hr>

    <ol>
        <li>Lorem ipsum dolor sit amet, consetetur sadipscing</li>
        <li>Lorem ipsum dolor sit amet, consetetur sadipscing</li>
        <li>Lorem ipsum dolor sit amet, consetetur sadipscing</li>
        <li>Lorem ipsum dolor sit amet, consetetur sadipscing</li>
        <li>Lorem ipsum dolor sit amet, consetetur sadipscing</li>
    </ol>

    <table>
        <thead>
            <tr>
                <th>Lorem ipsum dolor</th>
                <th>Lorem ipsum dolor</th>
                <th>Lorem ipsum dolor</th>
                <th>Lorem ipsum dolor</th>
                <th>Lorem ipsum dolor</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Lorem ipsum dolor</th>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor</td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <th>Lorem ipsum dolor</th>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor</td>
            </tr>
            <tr>
                <th>Lorem ipsum dolor</th>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor</td>
            </tr>
            <tr>
                <th>Lorem ipsum dolor</th>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor</td>
            </tr>
            <tr>
                <th>Lorem ipsum dolor</th>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor</td>
            </tr>
        </tbody>
    </table>

{% endblock %}